{% extends "home.html" %}


{% block title %}About{% endblock %}
{% block navbar %}
    <ul>
      	<li><a href="http://kingspp.pythonanywhere.com/">Home</a></li>
      	<li><a href="/about"><font color="#65A9ED">About</font></a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
{% endblock %}
{% block main_body %}

<p>&nbsp;&nbsp;Python is a widely used general-purpose, high-level programming language. Its design philosophy emphasizes code readability, and its syntax allows programmers to express concepts in fewer lines of code than would be possible in languages such as C. The language provides constructs intended to enable clear programs on both a small and large scale.</p>

<p>&nbsp;&nbsp;Django is a free and open source web application framework, written in Python, which follows the model–view–controller architectural pattern. </p>

<p>&nbsp;&nbsp;PyDSP is a web application powered by Django Framework compiled by pythonanywhere.com. The application aims at providing solutions for Digital Signal Processing. The Solutions are completely written using Python Language.</p>
<br>

<u><b>Technologies Adapted:</b></u>
<p>
<li><a href="https://www.python.org/"><b>Python</b></a> -The Opensource 'RESTRICTION FREE' programming language.
<li><a href="https://www.djangoproject.com/"><b>Django Framework</b></a> -Webapp = Complex HTML + Python
<li><a href="http://www.numpy.org/"><b>NumPy</b></a> -One word for Numerical analysis
<li><a href="http://www.scipy.org/"><b>SciPy</b></a> -DSP guru for Python
<li><a href="http://matplotlib.org/"><b>MatPlotLib</b></a> -Graph made easy
<li><a href="https://www.pythonanywhere.com"><b>Pythonanywhere.com Web Services</b></a> -Quick, best option</p>

<br>
<u><b>Credits:</b></u>
<p>
<li><b>Chandra Prasad Sir</b> (Computer guru)
<li><b>Musaddiq Sir</b> (Web guru)
<li><b>Aravind CH</b> (Python guru)</p>

<br>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/kingspp/PyDSP/blob/master/Changelog.txt">Changelog</a></p>
{% endblock %}





