{% extends "home.html" %}


{% block title %}Contact{% endblock %}
{% block navbar %}
    
{% endblock %}
{% block main_body %}
<p> <img src="http://kingspp.pythonanywhere.com/media/icn-people.png" alt=""> <b>Prathyush SP</b></p>
<p> <img src="http://kingspp.pythonanywhere.com/media/icn-phone.png" alt=""> +919738134205</p>
<p> <img src="http://kingspp.pythonanywhere.com/media/icn-email.png" alt=""> kingspprathyush@gmail.com</p>
<p> <img src="http://kingspp.pythonanywhere.com/media/icn-address.png" alt=""> Mysore,India</p>

{% endblock %}





