{% extends "home.html" %}

{% block title %}Linear Convolution{% endblock %}

{% block main_body %}

    <p>&nbsp Linear convolution is the basic operation to calculate the output for any linear time invariant system given its input and its impulse response.</p>

<p><b>Enter the sequence with spaces only. ex: 1 1 1 1 for [1,1,1,1]</b></p>
<form action="" method="post">
{% csrf_token %}
{{ form.as_p }} <br>
<input type="submit" value="Calculate!">
</form>

<br>

{{input1}}<br>
{{input2}}<br>
{{output}}<br>


{% endblock %}